<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{data.name || ''}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"><ion-icon name="log-out-outline" title="Logout"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-list *ngFor="let form of formFields">
      <ion-text class="text-md">{{form.category}}</ion-text>
      <ion-item *ngFor="let input of form.fields">

        <ion-input [name]="input.name" [label]="input.label" [type]="input.type" [required]="input.required"
          class="text-md" [labelPlacement]="input.placement" [(ngModel)]="data[input.name]" class="text-md"
          *ngIf="input.type !== 'checkbox' && input.type !== 'textarea';"
          (ionInput)="handleChange(input.name, $event)"></ion-input>

        <ion-textarea [name]="input.name" [label]="input.label" [required]="input.required"
          [labelPlacement]="input.placement" [(ngModel)]="data[input.name]" class="text-md"
          *ngIf="input.type === 'textarea'"></ion-textarea>

        <ion-list *ngIf="input.type === 'checkbox'">
          <ion-text>{{input.label}}</ion-text>
          <ion-checkbox [name]="input.name" [(ngModel)]="data[input.name]" class="text-md mt-2"></ion-checkbox>
        </ion-list>
      </ion-item>
    </ion-list>
    <ion-button expand="block" class="p-4" (click)="submit()">Submit</ion-button>
  </div>
</ion-content>
