<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mt-24 mb-20 text-center">
    <ion-title class="text-3xl">Welcome Back!</ion-title>
    <p class="text-gray-500 text-sm">Login to access your account</p>
  </div>

  <form [formGroup]="ionicForm" novalidate>
    <div class="ion-padding">

      <ion-item class="bg-gray-300 rounded-lg mb-4">
        <ion-input type="text" placeholder="Email" formControlName="email"
          class="font-light border-none bg-transparent" />
        <ion-icon name="person-outline"></ion-icon>

      </ion-item>

      <div class="pt-[-26px] pb-[16px]"
        *ngIf="this.ionicForm.controls?.email?.touched && this.ionicForm.controls?.email?.invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" class="text-red-500 font-light text-sm pt-4"
          color="danger">Email is
          required.</ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" class="text-red-500 font-light text-sm pt-4"
          color="danger">Please provide valid
          email.</ion-text>
      </div>

      <ion-item class="bg-gray-300 rounded-lg mb-4">
        <ion-input type="password" placeholder="Password" formControlName="password"
          class="font-light border-none bg-transparent" />
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="pt-[-26px] pb-[16px]"
        *ngIf="this.ionicForm.controls?.password?.touched && this.ionicForm.controls?.password?.invalid">
        <ion-text *ngIf="errorControl.password.errors?.required" class="text-red-500 font-light text-sm pt-4">Password
          is
          required.</ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern" class="text-red-500 font-light text-sm pt-4"
          color="danger">Password Must contain
          at least one character</ion-text>
      </div>

      <div class="flex justify-end">
        <a [routerLink]="['/forgot-password']" class="font-normal text-md no-underline text-yellow-400">Forgot
          Password?</a>
      </div>
      <div class="flex justify-center my-4">
        <ion-button type="submit" (click)="login()" class="w-full">
          Login
        </ion-button>
      </div>

      <div class="flex justify-center">
        <p class="mb-4">Or</p>
      </div>

      <ion-button color="light" (click)="loginWithGoogle()" class="w-full mb-4">
        <ion-icon src="assets/icon/google.svg"></ion-icon>
        <ion-text>Continue with Google</ion-text>
      </ion-button>

      <div class="flex items-center justify-center absolute bottom-2 left-0 right-0 mx-auto w-4/5 text-lg">
        <p class="p">New member? <a [routerLink]="['/register']" class="text-yellow-400 no-underline">Register Now</a></p>
      </div>

    </div>
  </form>
</ion-content>
